**.png filter=lfs diff=lfs merge=lfs -text
**.kra filter=lfs diff=lfs merge=lfs -text
**.bmp filter=lfs diff=lfs merge=lfs -text
**.ico filter=lfs diff=lfs merge=lfs -text
resources/spellcheck/**/*.aff filter=lfs diff=lfs merge=lfs -text
resources/spellcheck/**/*.dic filter=lfs diff=lfs merge=lfs -text
